// FONTS
$main-font-family: "Jost", "sans-serif";

// COLORS
$Peach: #e7816b;
$Black: #1d1c1e;
$white: #ffffff;
$light-peach: #ffad9b;
$dark-gray: #333136;
$light-gray: #f1f3f5;
$design-bg: #fdf3f0;

$transtion-duration: 0.5s;
// FONTS

$body-fs: 1.6rem;
$body-lh: 2.6rem;

$h1-fs: 4.8rem;
$h1-lh: 4.8rem;

$h2-fs: 4rem;
$h2-lh: 4.8rem;
$h2-ls: 2px;

$h3-fs: 2rem;
$h3-lh: 2.6rem;
$h3-ls: 5px;
